* {
    padding: 0px;
    margin: 0px;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html {
    height: 100%;
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    background: url('../assets/img/main-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    margin-top: 0px;
    text-align: center;
    font-size: 60px;
    color: #FF00FF;
}

.instruction {
    margin: 0px auto;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 2;
    color: #9932CC;
}

.window-enter {
    display: block;
    width: 770px;
    height: 200px;
    margin-bottom: 20px;
    color: #FF00FF;
    font-weight: 700;
    font-size: 20px;
    background-color: transparent;
    margin: 20px auto;
    border: 2px solid #AB47BC;
    outline: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.keyboard {
    border: 2px solid #AB47BC;
    padding: 5px;
    margin: 0 auto;
    background-color: transparent;
    width: 770px;
    border-radius: 7px;
}

.keys {
    text-align: center;
}

.key {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 3px;
    background-color: #FF00FF;
    user-select: none;
    cursor: pointer;
    text-align: center;
    color: white;
    border: none;
}

.key:hover {
    background-color: #9932CC;
}

.key:active {
    border-radius: 20px;
    background-color: #FF1493;

}

.dark {
    background-color: #8B008B;
    width: 93px;
}

.dark-small {
    background-color: #8B008B;
    width: 40px;
}

.backspace {
    width: 100px;
    padding: 0 5px;
}

.space {
    width: 340px;
}

.active {
    background-color: #FF1493;
    border-radius: 220px;
}

.big-key {
    width: 100px;
}

span {
    color: aliceblue;
}